.app {
  height:100%;
  color: rgb(217, 217, 217);
}

.header {
  background-color:#383838;
  text-align: center;
  height: 3.5%;
}

.header h1 {
  padding-top: 5px;
  margin: 0;
  font-weight: 50;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 94%;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: rgb(44, 44, 44);
  height: 100%;
  width: 230px;
}

.whole-column {
  display: flex;
  flex-direction: column;
  background-color: rgb(36, 36, 36);
  flex: 2;
  height: 100%;
}

.whole-column h3 {
  margin: 0;
  padding-top: 2px;
  font-weight: lighter;
  font-size: .95em;
}

.icon-bar {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(48, 48, 48);
}

.icon {
  width: 50px;
  height: 50px;
  background-color: rgb(48, 48, 48);
  margin-bottom: 15px;
}

.icon:hover {
  opacity: 0.7;
}

.column h2 {
  font-size: 1.2em;
  margin: 5% 0 5% 9%;
  font-weight: lighter;
}
.column h3 {
  font-size: 1em;
  margin: 0 0 0 3%;
  font-weight: lighter;
}

.column img {
  height: 13px;
  width: 13px;
  padding-right: .5em;
}

.sidenav {
  overflow-x: hidden;
}

.sidenav a {
  padding: 3% 0 5% 9%;
  text-decoration: none;
  font-size: 1em;
  color: #beb352;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  display: flex;
}

.sidenav span {
  padding: 3% 0 5% 9%;
  text-decoration: none;
  font-size: 1em;
  color: #beb352;
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.sidenav img{
  height: 20px;
  width: 20px;
  padding: 0em .3em 0 0;
  vertical-align: middle

}

.sidenav a:hover{
  background-color: #383838;
}

.sidenav span:hover {
  cursor: default;
}

.experience {
  margin-left: 5%;
}

.path {
  height: 1.5em;
  background-color: #1c1c1c;
  box-shadow: 0 1px rgb(116, 116, 116);
  font-size: .9em;
  padding-left: 1.5%;
  z-index: 5;
}

textarea {
  background-color: rgb(36, 36, 36);
  height: 100%;
  border: none;
  resize: none;
  color: white;
  font-size: 15px;
}
textarea:focus {
  outline: none;
} 

.footer {
  background-color: rgb(27, 123, 179);
  height: 2.5%;
  text-align: right;
  padding: 3px 10px 0 0;
  font-size: 13px;
}

.footer p {
  margin: 0;
  padding-right: 15px;
  display: inline-block;
}

